@import "tailwindcss";

@media print {
  body {
    background: white !important;
    font-size: 11px;
  }
  
  table {
    font-size: 10px;
    page-break-inside: auto;
  }
  
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  
  thead {
    display: table-header-group;
  }
  
  th, td {
    padding: 4px 6px !important;
  }
}
